$primary-text-color: rgb(99, 115, 129);
$primary-color: #ffab00;
$secondary-color: #00ab55;

@media (min-width: 376px) and (max-width: 1024px) {
  * {
    h1 {
      font-size: 25px !important;
    }
    h4 {
      font-size: 25px;
    }
  }

  .navbar {
    width: 95%;

    .nav-label {
      h1 {
        display: none;
      }
    }

    h3 {
      font-size: 15px;
    }

    li {
      margin-left: 13px !important;
    }

    .drop-lang {
      .georgian-flag {
        display: none;
      }
    }
  }

  .contact {
    .clinic-map {
      width: 500px;
      height: 430px;
    }
  }

  .phone-app {
    gap: 150px;
    .mobile-wrapper {
      width: 400px;
      height: 411px;

      img {
        width: 233px;
        height: 516px;
      }
    }
    p {
      width: 100% !important;
    }
  }

  .clinic-registration {

    .reg-left {
      align-items: start;

      p {
        width: 100%;
      }
    }

    .clinic-img {
      width: 650px;
      height: 350px;
    }
    .web-btn {
      margin-top: 500px !important;
    }
  }

  .med-delivery {
    .delivery-android {
      width: 250px;
      height: 430px;
      right: 225px !important;
    }
    .delivery-phone {
      width: 180px;
      height: 390px;
      right: 150px !important;
    }
    .delivery-map {
      width: 200px;
      height: 300px;
      right: 25px !important;
    }

    .delivery-btn {
      margin-top: 50px;
    }
  }

  .reporting {
    padding-top: 0px;
    .reporting-card {
      margin-left: 0px !important;
      width: 100% !important;
    }

    .reporting-img {
      width: 363px !important;
      height: 218px !important;
    }
  }

  .foreign {
    gap: 125px;
    p {
      width: 90%;
    }
    .foreign-exp-img {
      width: 275px;
      height: 275px;
    }
  }

  .hardware {
    gap: 150px !important;
    padding: 25px;
    .hardware-img {
      width: 400px;
      height: 300px;
    }
  }

  .questions {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .contact {
    gap: 50px !important;

    .contact-right {
      gap: 50px !important;
      width: 400px !important;

      h3 {
        font-size: 15px;
      }

      form {
        flex-direction: column;

        input {
          width: 400px !important;
        }
      }

      textarea {
        width: 400px !important;
      }
      button {
        font-size: 15px !important;
        width: 400px !important;
      }
    }
  }

  .blog {
    .blog-left {
      margin-top: 75px;
      .blog-img {
        width: 436px;
        height: 235px;
      }

      .blog-info {
        width: 389px !important;
        height: 130px !important;
        padding: 15px;

        h1 {
          font-size: 16px !important;
        }

        .blog-info-description {
          margin-top: 40px !important;

          h4 {
            font-size: 16px !important;
            gap: 5px !important;

            img {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }

    .blog-info-card {
      width: 436px !important;

      h4 {
        font-size: 14px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  footer {
    h3 {
      font-size: 14px;
    }
    a {
      font-size: 13px;
    }

    a:nth-child(1) {
      font-size: 13px;
    }

    .footer-content {
      gap: 15px;
      margin-top: 25px;

      .footer-medicloud-info {
        width: 20%;
        .title-wrapper {
          display: none;
        }

        p {
          font-size: 13px;
        }

        .footer-social {
          width: 200px;
          gap: 10px;

          .footer-icon {
            width: 40px !important;
            height: 40px !important;
          }
        }
      }

      .footer-links {
        font-size: 12px;

        a {
          margin-top: 10px !important;
        }
      }

      .footer-sub {

        p {
          font-size: 13px;
        }

        .sub-wrapper {
          img {
            width: 60px;
            height: 60px;
          }
        }

        form {
          width: 240px;

          button {
            width: 82px !important;
            font-size: 11px !important;
            margin-right: 30px;
          }
        }
      }
    }
  }
}

@media (max-width: 376px) {
  button {
    img {
      transition: 0.3s all;
    }
  }

  button:hover {
    img {
      margin-left: 10px;
    }
  }

  .navbar {
    justify-content: space-between;
    box-shadow: none;
    background-color: transparent !important;
    .nav-label {
      h1 {
        display: none;
      }
    }

    .nav-links {
      margin-top: 140px;
      margin-right: 28px;
      margin-left: 0;
      display: grid;
      gap: 20px;
      text-align: end;
    }

    .navbar-content-wrapper {
      z-index: 5;
      display: block;
      position: fixed;
      top: 0;
      right: 0px;
      width: 300px;
      height: 475px;
      background-color: #eceef0;
      border-radius: 10px;
      transition: 0.3s all ease-in;
    }

    .hidden {
      right: -300px;
    }

    .drop-lang {
      margin-left: 8px;
      margin-top: 55px;

      .georgian-flag {
        display: none;
      }
    }

    .nav-burger {
      position: relative;
      z-index: 6;
      width: 60px;
      height: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      border-radius: 10px;
      background-color: #f4f6f8;
      cursor: pointer;
      .burger-line:nth-child(1) {
        border-radius: 10px;
        width: 25px;
        height: 4px;
        background-color: $secondary-color;
      }
      .burger-line:nth-child(2) {
        border-radius: 10px;
        width: 25px;
        height: 4px;
        background-color: $secondary-color;
      }
      .burger-line-wrapper {
        height: 4px;
        width: 25px;
        .burger-line {
          border-radius: 10px;
          width: 20px;
          height: 4px;
          background-color: $secondary-color;
        }
      }
    }
    .sticky {
      position: fixed;
      right: 28px;
    }
  }

  .clinic-registration {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    margin-top: 50px;
    .reg-left {
      display: block;
      padding-left: 0px !important;
    }
    h1 {
      text-align: center;
      width: 350px !important;
      margin-right: 325px !important;
    }
    p {
      text-align: center;
      width: 100% !important;
    }
    .clinic-reg-img {
      width: 357px !important;
      height: 273px !important;
    }
    .clinic-img {
      margin-top: 40px !important;
      width: 307px !important;
      height: 175px !important;
    }
    .reg-btn {
      font-size: 17px !important;
      margin-top: 285px !important;
      left: 23px !important;
    }
    .web-btn {
      left: 23px !important;
      padding: 10px 75px 10px 75px !important;
      margin-top: 250px !important;
    }
  }

  .med-partners {
    margin-top: 50px;
    h1 {
      font-size: 24px !important;
    }

    .slider {
      height: 200px !important;
      .slide {
        margin-left: 300px !important;
        font-size: 14px !important;
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
      }
      .active {
        margin-left: 125px !important;
        font-size: 20px !important;
      }
    }
  }

  .phone-app {
    gap: 0px;
    display: grid;
    place-items: center;

    h3 {
      font-size: 16px;
    }

    .mobile-wrapper {
      width: 300px !important;
      height: 300px !important;
      margin-right: 75px;

      img {
        width: 170px;
        height: 377px;
      }
    }

    .mobile-right {
      width: auto;
      align-items: center;
      justify-content: center;
      text-align: center;

      img {
        width: 158px;
        height: 50px;
      }

      .mobile-p {
        width: 90%;
      }
    }
  }

  .med-delivery {
    flex-direction: column-reverse;
    margin-top: 125px;

    h1 {
      font-size: 25px !important;
      margin-left: 10px !important;
      text-align: center;
    }

    .delivery-left-wrapper {
      display: grid;
      place-items: center;
    }

    .delivery-left {
      padding: 0px;
      margin-top: 400px;
      justify-content: center;
      gap: 10px;

      .delivery-left-first-part {
        display: grid;
        place-items: center;

        .delivery-line {
          margin-left: 10px;
        }
      }

      .delivery-left-second-part {
        margin-left: 0px;
      }

      h2 {
        font-size: 17px;
      }

      p {
        margin-top: 10px;
        width: 90%;
        font-size: 14px;
      }
    }

    .delivery-right {
      .delivery-android {
        margin-top: 100px;
        left: 25px;
        right: 0px;
        width: 204px !important;
        height: 318px !important;
        z-index: 2;
      }

      .delivery-phone {
        position: absolute;
        margin-top: 90px;
        left: 125px;
        right: 0px;
        width: 140px !important;
        height: 288px !important;
      }

      .delivery-map {
        position: absolute;
        margin-top: 180px;
        left: 175px;
        right: 0px;
        width: 164px !important;
        height: 230px !important;
      }
    }

    .delivery-btn {
      position: static;
      margin-top: 50px;
      padding: 10px 96px 10px 96px !important;
    }
  }

  @mixin icon-frame-config {
    img {
      width: 37px;
      height: 37px;
    }
  }

  .reporting {
    padding-top: 0px;
    display: grid;

    .reporting-img {
      position: absolute;
      width: 339px;
      height: 192px;
      margin-top: 120px;
      margin-left: 18px !important;
    }

    .reporting-right {
      margin-top: 0px;
      h1 {
        font-size: 22px !important;
      }

      .reporting-card-wrapper {
        margin-top: 250px;
        grid-template-columns: repeat(1, 1fr);
        place-items: normal;

        .reporting-card {
          width: 96%;
          margin-left: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          margin-top: 20px;
          padding: 0px;

          h3 {
            font-size: 16px;
          }

          p {
            font-size: 14px;
          }

          .icon-frame {
            width: 74px;
            height: 74px;

            @include icon-frame-config();
          }
        }
      }
    }

    .reporting-btn {
      margin-top: 800px !important;
      padding: 10px 85px 10px 85px !important;
    }
  }

  .foreign {
    display: grid;
    gap: 0px;

    .foreign-left {
      margin-top: 50px;
      img {
        position: absolute;
        width: 276.78px;
        height: 282.73px;
        right: 40px;
        margin-top: 75px;
      }
    }

    .foreign-right {
      display: grid;
      place-items: center;

      .foreign-cards {
        margin-top: 300px;
        .foreign-card {
          align-items: center;
          justify-content: center;

          .foreign-card-text {
            width: 60%;
          }
          .foreign-frame {
            width: 74px;
            height: 74px;
            margin-right: 10px;

            @include icon-frame-config();
          }

          p {
            font-size: 12px;
          }
        }
      }

      .foreign-btn {
        position: static;
        margin-top: 35px;
        padding: 10px 90px 10px 90px !important;
        border-radius: 10px;
        border: 1px solid #00ab55;
        font-size: 16px;
      }
    }
  }

  .hardware {
    margin-top: 50px;
    gap: 0px;
    flex-direction: column-reverse;
    justify-content: center;

    .hardware-left {
      display: grid;
      place-items: center;

      .hardware-cards {
        margin-top: 200px;

        .hardware-card {
          gap: 10px;

          p {
            font-size: 12px;
          }
        }

        .hardware-frame {
          margin-right: 0px;
          margin-left: 7px;
        }
      }

      .hardware-btn {
        position: static;
        padding: 10px 90px 10px 90px;
        margin-top: 50px;
      }
    }

    .hardware-right {
      img {
        width: 323.13px;
        height: 231.83px;
        position: absolute;
        right: 10px;
        margin-top: 50px;
      }
    }
  }

  .questions {
    margin-top: 50px;

    h1 {
      margin-bottom: 0px;
    }

    .cards {
      grid-template-columns: repeat(1, 1fr) !important;

      .card {
        width: 343px !important;
        font-size: 13px !important;
      }
    }

    .contact {
      gap: 50px !important;
      display: block;

      .contact-left {
        flex-direction: column-reverse;
        img {
          width: 341px;
          height: 238.7px;
          margin-left: 17px;
        }

        .contact-line {
          margin-left: 150px;
          margin-bottom: 20px;
          width: 60px;
          height: 2px;

          h3 {
            position: relative;
            top: -15px;
            left: -110px;
            rotate: 0deg;
            margin-top: 0px;
          }
        }
      }

      .contact-right {
        margin-top: 25px;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
          font-size: 14px;
          text-align: center;
        }

        form {
          flex-direction: column;
          width: 314px;

          input {
            width: 314px !important;
          }
        }

        textarea {
          width: 314px !important;
        }
        button {
          width: auto;
          padding: 10px 105px 10px 105px;
          border-radius: 10px;

          h2 {
            font-size: 16px;
          }
        }
      }
    }
  }

  .blog {
    margin-top: 50px;

    .blog-content {
      display: block;

      .blog-left {
        .blog-img {
          width: 335px;
          height: 175px;
        }

        .blog-info {
          top: -50px;
          width: 305px !important;
          height: 102px !important;
          font-size: 10px !important;

          .blog-info-description {
            margin-top: 25px !important;

            h4 {
              font-size: 12px !important;
              img {
                width: 18px;
                height: 18px;
              }
            }
          }
        }
      }

      .blog-info-card {
        width: 343px !important;
        height: 82px !important;
        font-size: 12px;
        padding: 15px !important;

        img {
          width: 46px;
          height: 55px;
        }
      }
    }
  }

  footer {
    height: auto !important;

    .dropdown-arrow-up {
      rotate: 270deg;
    }

    .dropdown-arrow-down {
      rotate: 90deg;
    }

    .active {
      display: grid;
      place-items: center;
    }

    .disabled {
      display: none;
    }

    .footer-content {
      display: flex;
      flex-direction: column-reverse;
      gap: 0px;

      h3 {
        display: none;
      }

      hr {
        display: none;
      }

      .footer-sub {
        width: 100%;
        padding-bottom: 10px;

        .sub-wrapper {
          justify-content: space-around;
        }

        p {
          font-size: 15px;
        }
      }

      .footer-contact {
        padding: 10px;
      }

      .footer-links {
        padding: 10px;
      }

      .footer-medicloud-info {
        width: 100%;
        display: grid;
        place-items: center;
        margin-top: 25px;
        text-align: center;

        p {
          font-size: 14px;
          width: 95%;
        }
      }

      .dropdown-btn {
        cursor: pointer;
        border: none;
        border-bottom: 1px solid $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        height: 48px;
        width: 100%;
        gap: 10px;
      }
    }

    .footer-terms-conditions {
      display: grid;
      margin-top: 25px;

      p {
        color: rgb(99, 115, 129);
      }
    }
  }
}
