$primary-text-color: rgb(99,115,129);
$primary-color: #FFAB00;
$secondary-color: #00AB55;

@media (min-width: 376px) and (max-width: 1024px) {

  * {
    h1 {
      font-size: 25px !important;
    }
    button {
      font-size: 20px !important;
    }
    h4 {
      font-size: 25px;
    }
  }

  .navbar {
    width: 95%;

    .nav-label {
      h1 {
        display: none;
      }
    }

    h3 {
      font-size: 15px;
    }

    li {
      margin-left: 13px !important;
    }
    
    

    .drop-lang {
      
      .georgian-flag {
        display: none;
      }
    }
  }
    

    .contact {
      .clinic-map {
        width: 500px;
        height: 430px;
      }
    }

    .phone-app {
      gap: 200px ;
      .mobile-wrapper {
        width: 400px;
        height: 411px;

        img {
        width: 233px;
        height: 516px;
      }
      }
      
    }

    

    .clinic-registration {
      
      .clinic-img {
        width: 650px;
        height: 350px;
      }
    }

    .med-delivery {

      .delivery-android {
        width: 250px;
        height: 430px;
        right: 225px !important;
      }
      .delivery-phone {
        width: 180px;
        height: 390px;
        right: 150px !important;
      }
      .delivery-map {
        width: 200px;
        height: 300px;
        right: 25px !important;
      }

      .delivery-btn {
        margin-top: 50px;
      }
    }

    .reporting {

      .delivery-img {
        width: 363px;
        height: 218px;
      }
    }

    .foreign {
      .foreign-exp-img {
        width: 275px;
        height: 275px;
      }
    }

    .hardware {
      gap: 200px !important;
      .hardware-img {
        width: 400px;
        height: 300px;
      }
    }

    .questions {
      .cards{
        grid-template-columns: repeat(2, 1fr);
      }
    }

      .contact {
        gap: 50px !important;
    

    .contact-right {
      gap: 50px !important;
      width: 400px !important;

      h3 {
        font-size: 15px;
      }

      form {
        flex-direction: column;

        input {
          width: 400px !important;
        }
        
      }

      textarea {
        width: 400px !important;
      }
      button {
        font-size: 15px !important;
        width: 400px !important;
      }
    }
  }

  .blog {

    .blog-left {
      margin-top: 75px;
      .blog-img {
        width: 436px;
        height: 235px;
      }
  
      .blog-info {
        width: 389px !important;
        height: 130px !important;
  
        h1 {
          font-size: 20px !important;
        }
  
        .blog-info-description {
          margin-top: 10px !important;
          
          h4 {
            font-size: 14px;
          }
        }
      }
      
  
      
    }

    .blog-info-card {
      width: 436px !important;

      h4 {
        font-size: 14px;
      }

      p {
        font-size: 12px;
      }
    }
    
  }

  footer {
    
      h3 {
          font-size: 14px;
      }
      a {
        font-size: 13px;
      }

    .footer-content {

      .footer-medicloud-info {
        .title-wrapper {
          display: none;
        }

        p {
          font-size: 13px;
        }
      }
      
      

      .footer-contact-links {
        font-size: 13px;
      }

      .footer-sub {
        p {
          font-size: 13px;
        }

        .sub-wrapper {
          img {
            width: 60px;
            height: 60px;
          }
        }

        form {
          width: 240px;

          button {
            width: 82px !important;
            font-size: 11px !important;
            margin-right: 30px;
          }
        }   
      }
    }  
  }   
}


@media (max-width: 376px) {

  img {
    width: 20px;
    height: 20px;
  }
  .navbar {
    box-shadow: none;
    .nav-label {
      h1 {display: none;}
    }
    
    .nav-links {
      display: none;
    }

    .drop-lang {
      margin-left: 0px;
      .georgian-flag {
      display: none;
    }
    }
    
    
  }

  .clinic-registration {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;

    margin: 0px;
    .reg-left {
      display: block;
    }
    h1 {
      text-align: center;
      width: 350px !important;
      margin-right: 325px !important;
    }
    p {
      text-align: center;
      width: 325px !important;
    }
    .clinic-reg-img {
      width: 357px !important;
      height: 273px !important;
    }
    .clinic-img {
      margin-top: 40px !important;
      width: 307px !important;
      height: 175px !important;
    }
    .reg-btn {
      font-size: 17px !important;
      margin-top: 285px !important;
    }
    .web-btn {
      padding: 10px 75px 10px 75px !important;
      margin-top: 250px !important;
    }
  }

  .med-partners {
    h1 {
      font-size: 24px !important;
    }

    .slider {
      height: 200px !important;
      .slide {
        margin-left: 300px !important;
        font-size: 14px !important;
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
      }
      .active {
        margin-left: 125px !important;
        font-size: 20px !important;
      }
    }
  }

  .phone-app {
    margin-top: 250px;
    gap: 0px;
    display: grid;
    place-items: center;

    .mobile-wrapper {
      width: 300px !important;
      height: 300px !important;
      margin-right: 75px;

      img {
        width: 170px;
        height: 377px;
        margin-bottom: 120px;
      }
    }

    .mobile-right {
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;

      p {
        width: 90% !important;
      }

      h3 {
        font-size: 16px;
      }
      img {
        width: 165px;
        height: 85px;
      }
    }
  }

  .med-delivery {
    display: grid;
    h1 {
      font-size: 25px !important;
      margin-left: 10px !important;
    }

    .delivery-wrapper {
      display: grid;
      place-items: center;
    }

    .delivery-left {
      padding: 0px;
      margin-top: 30px;
      justify-content: center;
      gap: 10px;

      .delivery-left-first-part {
        display: grid;
        place-items: center;

        .delivery-line {
          margin-left: 10px;

        }
      }

      .delivery-left-second-part {
        margin-left: 0px;
      }

      h2 {
        font-size: 17px;
      }

      p {
        margin-top: 10px;
        width: 80%;
        font-size: 14px;
      }

      
    }
    
      .delivery-btn {
        padding: 10px 100px 10px 100px !important;
      }
  }

  .cards {
    grid-template-columns: repeat(1, 1fr) !important;
    
    .card {
      width: 343px !important;
      font-size: 13px !important;
    }
  }

  .contact {
    gap: 50px !important;
    display: block;


.contact-right {
  gap: 50px !important;
  width: 375px !important;

  h3 {
    font-size: 15px;
  }

  form {
    flex-direction: column;

    input {
      width: 400px !important;
    }
    
  }

  textarea {
    width: 400px !important;
  }
  button {
    font-size: 15px !important;
    width: 400px !important;
  }
}
}

  .blog  {
    
    .blog-content {
      margin-top: 200px;
      display: block;

      .blog-info {
        width: 305px !important;
        height: 102px !important;
        font-size: 10px;

        .blog-info-description {
          margin-top: 25px !important;
        }
      }

      .blog-info-card {
        width: 343px !important;
        height: 82px !important;
        font-size: 12px;
      }
    }
  }

  footer {
    height: 1325px;

    .footer-main-link {
      margin-top: 100px;
    }

    .footer-content {
      display: grid;
      text-align: center;

    }
  }
}
